.nrgpy_token
*.exe
*.ipynb
*.log
*.swp
*.txt

.vscode/
build/
dist/
evvv/
raw/
rld/
venv/
*__pycache__/
*egg-info/
*.ipynb_checkpoints/
*.wine/

!.gitignore
!tests/test_readers/test_files/*.txt
# !SDR_on_Linux_example.ipynb