.nrgpy_token
*.dev
*.exe
*.ipynb
*.log
*.kdev4
*.swp
*.txt

.vscode/
build/
dist/
evvv/
raw/
rld/
venv/
*__pycache__/
*egg-info/
*.ipynb_checkpoints/
*.pytest_cache/
*.wine/

!.gitignore
!tests/test_readers/test_files/*.txt