.nrgpy_token
*.exe
*.ipynb
*.txt
.ipynb_checkpoints/
*.wine/

.vscode/
*__pycache__/
build/
dist/
*egg-info/
evvv/
raw/
venv/

!.gitignore
!tests/test_readers/test_files/*.txt
# !SDR_on_Linux_example.ipynb